* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(#1e1e1e54,#1e1e1e54), url(./assets/bg.png);
    background-size: cover;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: auto;

}
.navbar{
    color: #fff;
    background-color:#1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2.5rem;

}
.navbar img{
    height: 2rem;
}
.line{
    height: 3rem;
    width: 1px;
    background-color: #fff;
}
.grow-list{
    width: 37rem;
}
.list{
    display: flex;
     gap: 3rem;
}
.btn{
    padding: .5rem 1rem;
    font-weight: 800;
    color: #fff;
    background-color: #b909ff;
    border: none;
    border-radius: .3rem;

    
}

/* Hero section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 6rem 0rem;
}
.hero-heading{
    font-size: 4.5rem;
    color: #fff;
    text-align: center;

}
.hero-description{
    font-size: 1.5rem;
    color: #fff;
}
.button-large{
    font-size: 1.5rem;
    margin: 2rem;
}
/* media querry */
@media (min-width:1200px) {
    html{
        font-size: 140%;
    }
    
}